#Code {
  text-align: left;
}

.CodeMirror {
  /*border: 1px solid #eee;*/
  height: auto !important;
  padding: 5px;
}

.static-imports {
  /*padding: 0 14px;*/
  margin: 0;
}

.static-imports .cm-keyword {
  color: #708;
}

.static-imports .cm-def {
  color: #00f;
}

.static-imports .cm-string {
  color: #a11;
}
